In [226]:
#importing all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

In [16]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\chromedriver_win32 (2)\chromedriver.exe")


Q.no 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details:

A) Rank B) Name C) Artist D) Upload date E) Views

In [17]:
# creating empty lists for scraping data
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [18]:
#getting the required URL
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")

In [67]:
time.sleep(3)

In [20]:

insert=driver.find_element_by_xpath("//td[@class='mbox-text']/span[@class='plainlinks']/a[@class='external text']/i").click()

In [66]:
time.sleep(3)

In [22]:
insert1=driver.find_element_by_xpath("//li[1]/div[@class='mw-search-result-heading']/a").click()

In [23]:
#scraping the rank
rank=driver.find_elements_by_xpath("//tbody/tr/td[1]")
for i in rank[:30]:
    Rank.append(i.text)#appending rank
    
time.sleep(5)

#scraping the name
name=driver.find_elements_by_xpath("//tbody/tr/td[2]")
for i in name[:30]:
    Name.append(i.text)#appending name
    
time.sleep(5)

#scraping the artist
artist=driver.find_elements_by_xpath("//tbody/tr/td[3]")
for i in artist[:30]:
    Artist.append(i.text)#appending artist name
    
#time.sleep(5)

#scraping upload date
upload=driver.find_elements_by_xpath("//tbody/tr/td[5]")
for i in upload[:30]:
    Upload_Date.append(i.text)#appending upload date
    
time.sleep(5)

#scraping views
views=driver.find_elements_by_xpath("//tbody/tr/td[4]")
for i in views[:30]:
    Views.append(i.text)#appending total no of views

In [24]:
#checking the length of each list
print(len(Rank))
print(len(Name))
print(len(Artist))
print(len(Upload_Date))
print(len(Views))

30
30
30
30
30

In [25]:
#creating a dataframe
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload Date':Upload_Date,'Views':Views})

df

,Rank,Name,Artist,Upload Date,Views
0,,This article has multiple issues. Please help ...,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.58
1,,This article needs additional citations for ve...,Luis Fonsi,"January 12, 2017",7.61
2,,This article needs to be updated. (July 2021),LooLoo Kids,"October 8, 2016",5.85
3,,This section possibly contains original resear...,Ed Sheeran,"January 30, 2017",5.51
4,1.,"""Baby Shark Dance""[23]",Wiz Khalifa,"April 6, 2015",5.31
5,2.,"""Despacito""[25]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.60
6,3.,"""Johny Johny Yes Papa""[26]",Miroshka TV,"February 27, 2018",4.53
7,4.,"""Shape of You""[27]",Get Movies,"January 31, 2012",4.47
8,5.,"""See You Again""[28]",Mark Ronson,"November 19, 2014",4.34
9,6.,"""Bath Song""[31]",ChuChu TV,"March 6, 2014",4.27
10,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Psy,"July 15, 2012",4.24
11,8.,"""Masha and the Bear – Recipe for Disaster""[33]",El Chombo,"April 5, 2018",3.67
12,9.,"""Uptown Funk""[34]",Maroon 5,"January 14, 2015",3.58
13,10.,"""Phonics Song with Two Words""[35]",Justin Bieber,"October 22, 2015",3.48
14,11.,"""Gangnam Style""[36]",Katy Perry,"September 5, 2013",3.46
15,12.,"""Dame Tu Cosita""[38]",OneRepublic,"May 31, 2013",3.43
16,13.,"""Sugar""[39]",Ed Sheeran,"October 7, 2014",3.35
17,14.,"""Sorry""[40]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.33
18,15.,"""Roar""[41]",Alan Walker,"December 3, 2015",3.17
19,16.,"""Counting Stars""[42]",Katy Perry,"February 20, 2014",3.17
20,17.,"""Thinking Out Loud""[43]",Maroon 5,"May 31, 2018",3.16
21,18.,"""Wheels on the Bus""[44]",Major Lazer,"March 22, 2015",3.12
22,19.,"""Faded""[45]",Enrique Iglesias,"April 11, 2014",3.12
23,20.,"""Dark Horse""[46]",Taylor Swift,"August 18, 2014",3.11
24,21.,"""Girls Like You""[47]",Passenger,"July 25, 2012",3.11
25,22.,"""Lean On""[48]",Crazy Frog,"June 16, 2009",3.08
26,23.,"""Bailando""[49]",Ed Sheeran,"November 9, 2017",3.00
27,24.,"""Shake It Off""[50]",J Balvin,"June 29, 2017",3.00
28,25.,"""Let Her Go""[51]",Shakira,"June 4, 2010",2.98
29,26.,"""Axel F""[52]",Adele,"October 22, 2015",2.90


Q2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1

st ODI)

B) Series

C) Place

D) Date

E) Time

In [34]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [35]:
# creating empty lists for scraping data
Match_title=[]
Series=[]
Place=[]
Date=[]
Month=[]
#Time=[]

In [36]:
#getting the required Url
driver.get("https://www.bcci.tv/")

In [37]:
insert = driver.find_element_by_xpath("//li[1]//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
insert.click()

In [38]:
insert1 = driver.find_element_by_xpath("//li[1]/div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div[1]/ul[1]/li[1]/a[@href='/international/fixtures']")
insert1.click()

In [39]:
#scraping match title
match = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
for i in match:
    Match_title.append(i.text)#appenind match title
    

#scraping series
series = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    Series.append(i.text)#appending series
    

#scraping place
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)#appending place
    

#scraping date
date = driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span")
for i in date:
    Date.append(i.text)#appending date
    

#scraping month
month = driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]")
for i in month:
    Month.append(i.text)#appending month
    

#scraping time
#time = driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")
#for i in time:
 #   Time.append(i.text)#appending time

In [41]:
#checking the length of each list
print(len(Match_title))
print(len(Series))
print(len(Place))
print(len(Date))
print(len(Month))
#print(len(Time))

10
10
10
10
10

In [43]:
#creating a dataframe
df1=pd.DataFrame({'Match Title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Month':Month})

df1

,Match Title,Series,Place,Date,Month
0,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",08,NOVEMBER
1,1st T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",17,NOVEMBER
2,2nd T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",19,NOVEMBER
3,3rd T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",21,NOVEMBER
4,1st Test,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",25,NOVEMBER
5,2nd Test,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",03,DECEMBER
6,1st ODI,INDIA V WEST INDIES 2022,"Narendra Modi Stadium, Ahmedabad",06,FEBRUARY
7,2nd ODI,INDIA V WEST INDIES 2022,"Sawai Mansingh Stadium, Jaipur",09,FEBRUARY
8,3rd ODI,INDIA V WEST INDIES 2022,"Eden Gardens, Kolkata",12,FEBRUARY
9,1st T20I,INDIA V WEST INDIES 2022,"Barabati Stadium, Cuttack",15,FEBRUARY

Q3.Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

In [253]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [254]:
#getting the required Url
driver.get("https://www.guru99.com/")

In [255]:
time.sleep(5)

In [256]:
selenium=driver.find_element_by_xpath('//div[@class="featured-box cloumnsize1"]/ul/li[3]/a')

In [257]:
selenium.click()

In [258]:
tutorial=driver.find_element_by_xpath('//div[@class="entry-content single-content"]/table[5]/tbody/tr[34]/td')

In [259]:
tutorial.click()

In [260]:
exceptions=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')

In [261]:
EXCT=[]
for i in exceptions:
    if i.text is None:
        EXCT.append("--")
    else:
        EXCT.append(i.text)

In [262]:
desc=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')

In [263]:
DESC=[]
for i in desc:
    if i.text is None:
        DESC.append("--")
    else:
        DESC.append(i.text)

In [264]:
print(len(DESC),len(EXCT))

0 0

In [265]:
df=pd.DataFrame({'Exceptions':EXCT,'Description':DESC})
df

Empty DataFrame
Columns: [Exceptions, Description]
Index: []


Q4.Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

In [137]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [138]:
# creating empty lists for scraping data
Rank=[]
State=[]
GSDP_18=[]
GSDP_17=[]
Share=[]
GDP_Billion=[]

In [139]:
#getting the required Url
driver.get("http://statisticstimes.com/")

In [140]:
time.sleep(5)

In [141]:
insert = driver.find_element_by_xpath("//div/div/div[2]/button")
insert.click()

In [142]:
time.sleep(5)

In [143]:
insert1=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[2]")
insert1.click()

In [144]:
time.sleep(5)

In [146]:
insert2 = driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
insert2.click()

In [147]:
time.sleep(3)

In [148]:

#scraping rank
rank=driver.find_elements_by_xpath("//tr/td[@class='data1']")
for i in rank[:33]:
    Rank.append(i.text)#appending rank

time.sleep(3)

#scraping state
state=driver.find_elements_by_xpath("//tr/td[@class='name']")
for j in state[:33]:
    State.append(j.text)#appending state
    
time.sleep(3)

#scraping GSDP (18-19)
gsdp18=driver.find_elements_by_xpath("//tr/td[3][@class='data']")
for j in gsdp18[:33]:
    GSDP_18.append(j.text)#appending GSDP 18-19
    
time.sleep(3)

#scraping GSDP (17-18)
gsdp17=driver.find_elements_by_xpath("//tr/td[@class='data sorting_1']")
for j in gsdp17[:33]:
    GSDP_17.append(j.text)#Appending GSDP (17-18)
    
time.sleep(3)

#scraping share
share=driver.find_elements_by_xpath("//tr/td[5][@class='data']")
for j in share[:33]:
    Share.append(j.text)#appending share
    
time.sleep(3)

#scraping GDP in billion$
billion=driver.find_elements_by_xpath("//tr/td[6][@class='data']")
for j in billion[:33]:
    GDP_Billion.append(j.text)#appending Gdp

In [150]:
#checking the length of each list
print(len(Rank))
#print(len(State))
print(len(GSDP_18))
#print(len(GSDP_17))
print(len(GDP_Billion))

33
33
33

In [152]:
#creating a dataframe
df4=pd.DataFrame({'Rank':Rank,'GSDP18-19':GSDP_18,'Share 2017':Share,'GDP $ billion':GDP_Billion})

df4

       Rank GSDP18-19 Share 2017 GDP $ billion
0   103/176     78.73      77.04        0.0234
1    90/177     83.37      78.56        0.0220
2   113/199     89.11      75.60        0.0213
3    98/192     95.23      74.71        0.0232
4   116/206    101.12      72.79        0.0236
5    98/193    107.25      71.18        0.0265
6   114/206    113.63      70.16        0.0258
7    98/194     21.39      68.30        0.0266
8   114/206     21.81      64.68        0.0266
9    97/194     20.99      57.36        0.0242
10  110/207     20.74      57.12        0.0240
11   94/195     20.21      49.94        0.0206
12  111/208     19.76      41.14        0.0159
13   95/195     19.48      39.59        0.0168
14  111/208     18.96      34.78        0.0135
15   96/196     17.95      33.01        0.0131
16  111/207     15.92      29.68        0.0119
17   98/194     15.86      29.27        0.0116
18  115/208     13.87      26.89        0.0117
19   99/196     11.42          -             -
20  112/206     10.99          -             -
21   99/195      9.66          -             -
22  114/205      9.16          -             -
23   99/195      8.24          -             -
24  130/205      8.12          -             -
25  105/194      7.47          -             -
26  124/206         -          -             -
27  105/193         -          -             -
28  132/206         -          -             -
29  107/193         -          -             -
30  135/205         -          -             -
31  107/192         -          -             -
32  133/205         -          -             -


Q5.Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title B) Repository description C) Contributors count D) Language used

In [153]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [154]:
# creating empty lists for scraping data
Title=[]
Description=[]
Contributors=[]
Language=[]

In [155]:
#getting the required Url
driver.get('https://github.com/')

In [156]:
time.sleep(3)

In [158]:
#clicking the explore menu
insert=driver.find_element_by_xpath("//li[4]/details/summary[@class='HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block']").click()

In [159]:

time.sleep(3)

In [160]:
#clicking the trending option
insert1=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a").click()

In [161]:
#scraping the title name
title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
for i in title:
    Title.append(i.text)#appending title

In [162]:
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a")]
for url in urls[0:24]:
    time.sleep(5)

           
        
    try:   #exception handling for nosuchelementexception
        
        driver.get(url)
        description=driver.find_element_by_xpath("//div[@class='BorderGrid-row hide-sm hide-md']/div/p[@class='f4 mt-3']").text
        
        Description.append(description)#appending Description of the data set
    except NoSuchElementException :
        Description.append(" ")#appending no description if their is no description provided
        
    
        
    try:    #exception handling for nosuchelementexception
        
        driver.get(url)
        contributors=driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div/h2[@class='h4 mb-3']//span").text
        
        Contributors.append(contributors)#appending contributers count
    except NoSuchElementException :
        Contributors.append(" ")#appending no contributers count if no count is given
    
    try:       #exception handling for nosuchelementexception
        
        driver.get(url)
        language=driver.find_element_by_xpath("//ul[@class='list-style-none']/li[1]/a[1]//span[1]").text
       
        Language.append(language)#appending language used
    except NoSuchElementException :
        Language.append(" ")#apeending no language used if no language is given

In [164]:
#checking the length of each list
#print(len(Title))
print(len(Description))
print(len(Contributors))
print(len(Language))

24
24
24

In [166]:
# Creating  dataframe
df5 = pd.DataFrame({ 'Repository Description' : Description  , 'Contributors Count' : Contributors , 'Language Used'  : Language}  )
df5

,Repository Description,Contributors Count,Language Used
0,Telegram for Android source,,Java
1,openpilot is an open source driver assistance ...,254,Python
2,Flutter makes it easy and fast to build beauti...,,Dart
3,A black hole for Internet advertisements,,Shell
4,Lean's OpenWrt source,272,C
5,A collection of simple python mini projects to...,,Python
6,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...,,JavaScript
7,A refreshingly simple data-driven game engine ...,,Rust
8,"A fast, zero dependency object and array compa...",1,js-diff-benchmarks
9,"Ultimate Solidity, Blockchain, and Smart Contr...",,
10,"🚀 Boilerplate and Starter for Next.js 12+, Tai...",,TypeScript
11,Bitcoin Core integration/staging tree,,C++
12,Windows 11 Upgrade tool that bypasses Microsof...,,C#
13,All Algorithms implemented in Python,,Python
14,A chrome extension for automating your browser...,,Vue
15,Animation engine for explanatory math videos,134,Python
16,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/v2ray/trojan节点、蓝...,,
17,Collection of malware source code for a variet...,,Assembly
18,A simple and easy-to-use library to enjoy vide...,,C
19,"Linux, Jenkins, AWS, SRE, Prometheus, Docker, ...",,Python
20,A platform for building proxies to bypass netw...,111,Go
21,OBS Studio - Free and open source software for...,461,C
22,"Web-Scale Blockchain for fast, secure, scalabl...",,Rust
23,An open source SQL database designed to proces...,50,Java


Q7.Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

In [239]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [240]:
driver.get("https://www.naukri.com/")

In [241]:
# creating empty lists for scraping data
name  = []
designation  = []
company  = []
skills   = []
location = []

In [243]:
#scraping name
Name = driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='fl ellipsis']")
for i in Name:
    name.append(i.text)#appending name
    
time.sleep(3)  

#scraping designation
Designation = driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='ellipsis clr']")
for i in Designation:
    designation.append(i.text)#appending designation
    
time.sleep(3)  

#scraping company name
Company = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in Company:
    company.append(i.text)#appending company name

time.sleep(3)  

#scraping skills required
Skills= driver.find_elements_by_xpath("//div[@class='recInfo']//div[@class='hireSec highlightable']")
for i in Skills:
    skills.append(i.text)#appending skills required

In [244]:
## scraping location, for scraping location we have to go in each of the location separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//div[@class='vcard']/p/a[1]")]#getting the url
for url in urls[0:50]:
    time.sleep(5)
    try:            #exception handling for nosuchelementexception
        
        driver.get(url)
        Location=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[5]/a").text
        
        location.append(Location)#appending location in location list
    except NoSuchElementException :
        location.append(" ")#appending no location if no such location is there

In [245]:
#checking the length of each list
print(len(name))
print(len(designation))
print(len(company))
print(len(skills))
print(len(location))

0
0
0
0
0


Q8.Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [171]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [172]:
#getting the required url
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [173]:
# creating empty lists for scraping data
book_name = []
author_name  = []
volumes_sold  = []
publisher  = []
genre  = []

In [174]:
#scraping book name
book = driver.find_elements_by_xpath("//tbody/tr/td[2]")
for i in book:
    book_name.append(i.text)#appending book name

#scraping author name
author = driver.find_elements_by_xpath("//tbody/tr/td[3]")
for i in author:
    author_name.append(i.text)#appending author name

#scraping volumes sold
volume = driver.find_elements_by_xpath("//tbody/tr/td[4]")
for i in volume:
    volumes_sold.append(i.text)#appending volumes of books sold

#scraping publisher 
publish = driver.find_elements_by_xpath("//tbody/tr/td[5]")
for i in publish:
    publisher.append(i.text)#appending publisher name

#scraping genre
Genre = driver.find_elements_by_xpath("//tbody/tr/td[6]")
for i in Genre:
    genre.append(i.text)#appending genre

In [175]:
#checking the length of each list
print(len(book_name))
print(len(author_name))
print(len(volumes_sold))
print(len(publisher))
print(len(genre))

100
100
100
100
100

In [176]:
#creating a dataframe
df8=pd.DataFrame({'Book Name':book_name,'AUthor Name':author_name,'Volumes Sold':volumes_sold,'Publisher':publisher,'Genre':genre})

df8

,Book Name,AUthor Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General


Q9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [177]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [178]:
#getting the required url
driver.get("https://www.imdb.com/list/ls095964455/")

In [179]:
# creating empty lists for scraping data
name=[]
year=[]
genre=[]
runtime=[]
ratings=[]
votes=[]

In [180]:
#scraping name
Name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in Name:
    name.append(i.text)#appending movie name
    
#scraping year
Year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in Year:
    year.append(i.text)#appending year of release

#scraping genre
Genre=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in Genre:
    genre.append(i.text)#appending genre

#scraping runtime
rt=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in rt:
    runtime.append(i.text)#appending runtime

#scraping ratings
Rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
for i in Rating:
    ratings.append(i.text)#appending ratings

#scraping votes
Votes=driver.find_elements_by_xpath("//p[4][@class='text-muted text-small']/span[2]")
for i in Votes:
    votes.append(i.text)#appending votes

In [181]:
#checking the length of each list
print(len(name))
print(len(year))
print(len(genre))
print(len(runtime))
print(len(ratings))
print(len(votes))

100
100
100
100
100
100

In [182]:
#creating a dataframe
df9=pd.DataFrame({'Name':name,'Year':year,'Genre':genre,'Run Time':runtime,'Ratings':ratings,'Votes':votes})

df9

,Name,Year,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,895,644"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"926,921"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"910,646"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"272,499"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"232,918"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,303"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,123"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"179,393"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"37,578"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"211,140"


Q10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [194]:
#intialising driver
driver=webdriver.Chrome(r"C:\Users\Home\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [195]:
#getting the required url
driver.get("https://archive.ics.uci.edu/ml/index.php")

In [196]:
time.sleep(3)

In [197]:
view_all=driver.find_element_by_xpath('//table[1]/tbody/tr/td[2]/span[2]/a')

In [198]:
a=view_all.get_attribute('href')

In [199]:
driver.get(a)

In [200]:
nam=driver.find_elements_by_xpath('//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td/table/tbody/tr/td[2]')

In [201]:
Name=[]

for i in nam:
    Name.append(i.text)

In [202]:
dty=driver.find_elements_by_xpath('//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p[@class="normal"]')

In [203]:
Dataty=[]
for i in dty:
    Dataty.append(i.text)

In [204]:
tsk=driver.find_elements_by_xpath('//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p[@class="normal"]')

In [205]:
task=[]
for i in tsk:
    task.append(i.text)

In [206]:
atr=driver.find_elements_by_xpath('//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p[@class="normal"]')

In [207]:
attr=[]
for i in atr:
    attr.append(i.text)

In [208]:
ni=driver.find_elements_by_xpath('//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p[@class="normal"]')

In [209]:
N_I=[]
for i in ni:
    N_I.append(i.text)

In [210]:
len(N_I)

588

In [211]:
na=driver.find_elements_by_xpath('//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p[@class="normal"]')

In [212]:
N_A=[]
for i in na:
    N_A.append(i.text)

In [213]:
y=na=driver.find_elements_by_xpath('//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p[@class="normal"]')

In [214]:
Y=[]
for i in y:
    Y.append(i.text)

In [216]:
#creating a dataframe
df10=pd.DataFrame({"Name":Name,"Datatype":Dataty,"Task":task,"Attribute_Type":attr,"No of instances":N_I,
                "No of attribute":N_A , "Year" : Y})

df10

,Name,Datatype,Task,Attribute_Type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021