In [3]:
#Q1)
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests

page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

url="https://en.wikipedia.org/wiki/Main_Page"

html=urlopen(url)
bs=BeautifulSoup(html,"html.parser")

titles=bs.find_all(['h1','h2','h3','h4','h5','h6'])
print("List of all header tags :",titles,sep='\n\n')

List of all header tags :

[<h1 class="firstHeading" id="firstHeading">Main Page</h1>, <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>, <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>, <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>, <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>, <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>, <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>, <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>, <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>, <h2>Navigation menu</h2>, <h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>, <h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>, <h3>
<label for="searchInput">Search</label>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>]

In [4]:
#Q2. Write a python program to display IMDB's Top rated 100 movies' data (i.e.Name,IMDB rating,Year of release)
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
from requests import get
import lxml

url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')

links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]

ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]
imdb = []

for index in range(0, len(movies)):
    
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    
    data = {"movie_title": movie_title,
            "year ": year,
            "rating": ratings[index]}
           
            
    imdb.append(data)

for item in imdb:
    print(item['rating'], '-', item['movie_title'], '('+item['year ']+') -')

9.220522404535997 - The Shawshank Redemption (1994) -
9.147257698023923 - The Godfather (1972) -
8.980529949402799 - The Godfather: Part II (1974) -
8.973095364970735 - The Dark Knight (2008) -
8.939228040008526 - 12 Angry Men (1957) -
8.91112490113426 - Schindler's List (1993) -
8.88838983297331 - The Lord of the Rings: The Return of the King (2003) -
8.836008377472718 - Pulp Fiction (1994) -
8.786310513919904 - Il buono, il brutto, il cattivo (1966) -
8.778577184736646 -  The Lord of the Rings: The Fellowship of the Ring (2001) -
8.752274750918051 - Fight Club (1999) -
8.743870091112834 - Forrest Gump (1994) -
8.714631105305092 - Inception (2010) -
8.702098125173654 - The Lord of the Rings: The Two Towers (2002) -
8.694797231343085 - Star Wars: Episode V - The Empire Strikes Back (1980) -
8.645298380569148 - The Matrix (1999) -
8.643768273063902 - Goodfellas (1990) -
8.635140432355279 - One Flew Over the Cuckoo's Nest (1975) -
8.609138960619516 - Shichinin no samurai (1954) -
8.58724594087685 - Se7en (1995) -
8.577046090031894 - The Silence of the Lambs (1991) -
8.5762833975635 - Cidade de Deus (2002) -
8.574690356305386 - La vita è bella (1997) -
8.574148680583594 - It's a Wonderful Life (1946) -
8.551623229003464 - Star Wars (1977) -
8.549921631419505 - Saving Private Ryan (1998) -
8.53918797775273 - Interstellar (2014) -
8.538414645869105 - Sen to Chihiro no kamikakushi (2001) -
8.535813897502626 - The Green Mile (1999) -
8.527708082089083 - Gisaengchung (2019) -
8.499552029599958 - Léon (1994) -
8.495270599461561 - Seppuku (1962) -
8.489433500527728 - The Pianist (2002) -
8.48630357555511 - The Usual Suspects (1995) -
8.484627616307714 - Terminator 2: Judgment Day (1991) -
8.484290731045773 - Back to the Future (1985) -
8.482101795513453 - Psycho (1960) -
8.48092827813264 - The Lion King (1994) -
8.480355654349436 - Modern Times (1936) -
8.473768700192856 - American History X (1998) -
8.471466248028381 - City Lights (1931) -
8.470112224414597 - Hotaru no haka (1988) -
8.468554026350745 - Whiplash (2014) -
8.468239503860138 - Gladiator (2000) -
8.466701237759407 - The Departed (2006) -
8.459612830817557 - The Intouchables (2011) -
8.452901914811768 - The Prestige (2006) -
8.449527783440722 - Casablanca (1942) -
8.447910232870232 - Once Upon a Time in the West (1968) -
8.438931698977846 - Rear Window (1954) -
8.43618795469996 - Nuovo Cinema Paradiso (1988) -
8.422583937540068 - Alien (1979) -
8.417578357412435 - Apocalypse Now (1979) -
8.409332501632987 - Memento (2000) -
8.406431696875249 - Raiders of the Lost Ark (1981) -
8.404826897211024 - The Great Dictator (1940) -
8.39127722256661 - The Lives of Others (2006) -
8.389689922009753 - Django Unchained (2012) -
8.382876834129233 - Paths of Glory (1957) -
8.377167762282397 - Sunset Blvd (1950) -
8.372944872191333 - WALL·E (2008) -
8.365130866947972 - Avengers: Infinity War (2018) -
8.36454742044859 - The Shining (1980) -
8.363693678864031 - Witness for the Prosecution (1957) -
8.354363324353077 - Spider-Man: Into the Spider-Verse (2018) -
8.353139997650553 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) -
8.348555370621462 - Joker (2019) -
8.344784724361986 - Mononoke-hime (1997) -
8.344269868937623 - Oldeuboi (2003) -
8.326462703434974 - Kimi no na wa (2016) -
8.322569099884564 - The Dark Knight Rises (2012) -
8.322539959129196 - Once Upon a Time in America (1984) -
8.321439149517696 - Coco (2017) -
8.321436076094374 - Aliens (1986) -
8.30999889170216 - Capharnaüm (2018) -
8.308338878043225 - Avengers: Endgame (2019) -
8.307014287369773 - Das Boot (1981) -
8.30531790395646 - Hamilton (2020) -
8.303893373208338 - Tengoku to jigoku (1963) -
8.297982912135039 - American Beauty (1999) -
8.296204237089183 - Toy Story (1995) -
8.29594464625967 - 3 Idiots (2009) -
8.294760324909028 - Amadeus (1984) -
8.294138062506107 - Braveheart (1995) -
8.287776149580756 - Inglourious Basterds (2009) -
8.280877055095075 - Good Will Hunting (1997) -
8.27482637254546 - Star Wars: Episode VI - Return of the Jedi (1983) -
8.273195890046567 - 2001: A Space Odyssey (1968) -
8.272019471512657 - Reservoir Dogs (1992) -
8.270788076394652 - M - Eine Stadt sucht einen Mörder (1931) -
8.270681725226313 - Taare Zameen Par (2007) -
8.269147302803036 - Vertigo (1958) -
8.267604265596205 - Citizen Kane (1941) -
8.26699815707115 - Idi i smotri (1985) -
8.26477192128134 - Jagten (2012) -
8.261334433250509 - Requiem for a Dream (2000) -
8.258883706805506 - Singin' in the Rain (1952) -
8.25793424847666 - North by Northwest (1959) -
8.256073161920673 - Eternal Sunshine of the Spotless Mind (2004) -
8.25483879691182 -  Ladri di biciclette (1948) -
8.25472140173518 - Ikiru (1952) -
8.253104423047047 - Dune (2021) -
8.252718804287198 - Pather Panchali (1955) -
8.24975594964182 - Lawrence of Arabia (1962) -
8.246035467645303 - The Kid (1921) -
8.243234987338695 - Full Metal Jacket (1987) -
8.24240968931242 - Dangal (2016) -
8.2412448707527 - The Father (2020) -
8.23764735860669 - The Apartment (1960) -
8.237535658148898 - A Clockwork Orange (1971) -
8.236494998341406 - Metropolis (1927) -
8.236123726523772 - Taxi Driver (1976) -
8.235975575142717 - Incendies (2010) -
8.235094316021168 - Double Indemnity (1944) -
8.233554506687119 - The Sting (1973) -
8.23267194602816 - Jodaeiye Nader az Simin (2011) -
8.232264565959868 - Scarface (1983) -
8.231472807586226 - 1917 (2019) -
8.23057874560175 - Snatch (2000) -
8.230086725366688 - Le fabuleux destin d'Amélie Poulain (2001) -
8.225603533614478 - Toy Story 3 (2010) -
8.225520447732487 - To Kill a Mockingbird (1962) -
8.21798202346003 - Per qualche dollaro in più (1965) -
8.21345118076404 - Up (2009) -
8.203794062751472 - Indiana Jones and the Last Crusade (1989) -
8.200489396862856 - LA Confidential (1997) -
8.19999388352586 - Heat (1995) -
8.195141443205515 - Yôjinbô (1961) -
8.194418133375768 - Rashômon (1950) -
8.19389970517467 - Ran (1985) -
8.193047655037212 - Die Hard (1988) -
8.190317632943799 - Green Book (2018) -
8.18897277818853 - Der Untergang (2004) -
8.188407452025775 - Monty Python and the Holy Grail (1975) -
8.186182946163706 - All About Eve (1950) -
8.18413688931415 - Some Like It Hot (1959) -
8.183714874835555 - Batman Begins (2005) -
8.179247285542042 - Unforgiven (1992) -
8.178401279740285 - Bacheha-Ye aseman (1997) -
8.163723246586029 - Hauru no ugoku shiro (2004) -
8.160955301733726 - The Wolf of Wall Street (2013) -
8.157771180664584 - Judgment at Nuremberg (1961) -
8.15694727002325 - The Great Escape (1963) -
8.15399707912149 - Casino (1995) -
8.153335464372077 - There Will Be Blood (2007) -
8.1531779412552 - The Treasure of the Sierra Madre (1948) -
8.149746561574583 - Pan's Labyrinth (2006) -
8.148259044879044 - A Beautiful Mind (2001) -
8.145644537094183 - El secreto de sus ojos (2009) -
8.144465769788983 - Raging Bull (1980) -
8.138426690571322 - Tonari no Totoro (1988) -
8.137955922807693 - Chinatown (1974) -
8.134429591434547 - Lock, Stock and Two Smoking Barrels (1998) -
8.131080766684349 - The Gold Rush (1925) -
8.130541164007454 - Shutter Island (2010) -
8.128677414155547 - No Country for Old Men (2007) -
8.128195676297617 - Dial M for Murder (1954) -
8.127438730806315 - Det sjunde inseglet (1957) -
8.126779406782324 - Three Billboards Outside Ebbing, Missouri (2017) -
8.124295233165075 - The Elephant Man (1980) -
8.123935039930789 - The Thing (1982) -
8.12222444681313 - The Sixth Sense (1999) -
8.119448328239574 - Klaus (2019) -
8.116757717271387 - The Third Man (1949) -
8.11622652478712 - Smultronstället (1957) -
8.114238053947705 - V for Vendetta (2005) -
8.11415481788507 - Jurassic Park (1993) -
8.114152302171254 - The Truman Show (1998) -
8.1135631239221 - Inside Out (2015) -
8.113090474796783 - Salinui chueok (2003) -
8.112237596772431 - Blade Runner (1982) -
8.111991969770104 - Trainspotting (1996) -
8.110974261778097 - The Bridge on the River Kwai (1957) -
8.109659183496158 - Fargo (1996) -
8.109558174432685 - Warrior (2011) -
8.107974992867002 - Finding Nemo (2003) -
8.10640646028411 - Kill Bill: Vol 1 (2003) -
8.106296952379099 - Gone with the Wind (1939) -
8.105638177673539 - Z (1969) -
8.10549085674067 - Tôkyô monogatari (1953) -
8.104045045104368 - Babam ve Oglum (2005) -
8.101695356025989 - On the Waterfront (1954) -
8.095026456281932 - Stalker (1979) -
8.092637584066171 - Relatos salvajes (2014) -
8.091540466616491 - Sherlock Jr (1924) -
8.091105597566933 - The General (1926) -
8.090794718338618 - The Deer Hunter (1978) -
8.089455612316742 - Gran Torino (2008) -
8.088247465878394 - Persona (1966) -
8.086322282270423 - The Grand Budapest Hotel (2014) -
8.085290289072002 - Prisoners (2013) -
8.084469879614488 - Before Sunrise (1995) -
8.084417551612637 - Mary and Max (2009) -
8.08202029656689 - Mr Smith Goes to Washington (1939) -
8.081078930496878 - Room (2015) -
8.080658131180755 - In the Name of the Father (1993) -
8.0803566406577 - Catch Me If You Can (2002) -
8.078549740199472 - Barry Lyndon (1975) -
8.077661223804991 - Gone Girl (2014) -
8.076465035837142 - Hacksaw Ridge (2016) -
8.075282294717159 - Andhadhun (2018) -
8.073081437464415 - La passion de Jeanne d'Arc (1928) -
8.07276757840585 - To Be or Not to Be (1942) -
8.069488443077182 - Ford v Ferrari (2019) -
8.068657000444718 - 12 Years a Slave (2013) -
8.06754961553048 - The Big Lebowski (1998) -
8.06296661471292 - How to Train Your Dragon (2010) -
8.061316997630563 - Mad Max: Fury Road (2015) -
8.060512255000209 - Dead Poets Society (1989) -
8.060431579337118 - Höstsonaten (1978) -
8.059665274431499 - Ben-Hur (1959) -
8.058756069591118 - Million Dollar Baby (2004) -
8.058169953375192 - Le salaire de la peur (1953) -
8.057572475464536 - Harry Potter and the Deathly Hallows: Part 2 (2011) -
8.055422481819546 - Stand by Me (1986) -
8.055319119688999 - Ah-ga-ssi (2016) -
8.055186931664764 - Network (1976) -
8.051113085980932 - Logan (2017) -
8.050900559973202 - Cool Hand Luke (1967) -
8.050325305886444 - Les quatre cents coups (1959) -
8.049590598320558 - Gangs of Wasseypur (2012) -
8.04879577970235 - Hachi: A Dog's Tale (2009) -
8.048237657384737 - La haine (1995) -
8.04661050736737 - Platoon (1986) -
8.045038357264001 - Eskiya (1996) -
8.044002638783898 - Spotlight (2015) -
8.043717322093263 - Koe no katachi (2016) -
8.04154157872349 - Life of Brian (1979) -
8.0412210352169 - Rebecca (1940) -
8.040729920166898 - Monsters, Inc (2001) -
8.039554459450896 - Hotel Rwanda (2004) -
8.038786694576876 - Fa Yeung Nin Wah (2000) -
8.037970482149323 - Rush (2013) -
8.036729977996183 - Into the Wild (2007) -
8.035073495097784 - Amores perros (2000) -
8.034075879880952 - Rocky (1976) -
8.033855119090562 - Andrei Rublev (1966) -
8.031057221509466 - Kaze no tani no Naushika (1984) -
8.030925798539249 - It Happened One Night (1934) -
8.029331307328825 - Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni (1997) -
8.027642167429597 - Before Sunset (2004) -
8.027363937182548 - La battaglia di Algeri (1966) -
8.026779682899553 - Fanny och Alexander (1982) -
8.024354312269207 - Trois couleurs: Rouge (1994) -
8.023218869692114 - Paris, Texas (1984) -
8.023087873214624 - Kimetsu no Yaiba: Mugen Ressha-Hen (2020) -
8.022754590290441 - The Princess Bride (1987) -
8.020690246640543 - Le notti di Cabiria (1957) -
8.020373117639041 - Du rififi chez les hommes (1955) -
8.01922899256108 - Ratsasan (2018) -

In [22]:
#Q3)
from bs4 import BeautifulSoup
import requests
import pandas as pd
req=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
Soup=BeautifulSoup(req.content)
movs=Soup.find_all('td',class_='titleColumn')
movs100=movs[0:100]
Mname=[]
Year=[]
for m in movs100:
    name=m.a.text
    year=m.span.text
    Mname.append(name)
    Year.append(year)
rate=Soup.find_all('td',class_='ratingColumn imdbRating')
rate100=rate[0:100]
IMDB=[]
for r in rate100:
    imdb=r.strong.text
    IMDB.append(imdb)
INDTOP=pd.DataFrame({'Name':Mname,'Year of Release':Year,'Rating':IMDB},index=range(1,101))
INDTOP

                                  Name Year of Release Rating
1                              Nayakan          (1987)    8.5
2                           Anbe Sivam          (2003)    8.5
3                    Pariyerum Perumal          (2018)    8.5
4                    C/o Kancharapalem          (2018)    8.5
5                              Golmaal          (1979)    8.5
..                                 ...             ...    ...
96                     Rang De Basanti          (2006)    8.1
97                     OMG: Oh My God!          (2012)    8.1
98                                Roja          (1992)    8.1
99            Uri: The Surgical Strike          (2019)    8.1
100  Lagaan: Once Upon a Time in India          (2001)    8.1

[100 rows x 3 columns]

In [18]:
#Q4)
from bs4 import BeautifulSoup
import requests
import pandas as pd
request=requests.get('https://bookpage.com/')
soup=BeautifulSoup(request.content)
dv=soup.find_all('div',class_='content')
Book={'Name':[],'Review':[],'Genre':[],'Author_Name':[]}
for i in dv:
    nam=i.find('h4',class_='italic').text.replace('\n','').replace(' ★ ','')
    rev=i.find('p',class_='excerpt').text.replace('\n','')
    Gen=i.find('p',class_='genre-links hidden-phone').text.replace('/',',').replace('\n','')
    Auth=i.find('p',class_='sans bold').text.replace('\n','').replace('Interview by','').replace('Feature by','').replace('Review by','')
    Book['Name'].append(nam)
    Book['Review'].append(rev)
    Book['Genre'].append(Gen)
    Book['Author_Name'].append(Auth)
Books=pd.DataFrame(Book,index=range(1,7))
Books

,Name,Review,Genre,Author_Name
1,Sarah Ruhl,A playwright with an incredible eye for detail...,"Nonfiction , Memoir",Kelly Blewett
2,Tips for Teachers: Embrace your silly side,Experienced teacher and children’s librarian E...,"Children's , Picture Book",Emmie Stuart
3,The Every,Unplug your Alexa and toss your Apple Watch. T...,"Fiction , Satire",Amy Scribner
4,We Are Not Like Them,Hopelessness is certainly a theme in We Are No...,"Fiction , Literary Fiction",Jessica Wakeman
5,The Lincoln Highway,The pages of Amor Towles’ novel are destined t...,"Fiction , Historical Fiction",Alice Cary
6,Light From Uncommon Stars,"In addition to its all-the-feels poignancy, Li...","Science Fiction & Fantasy , Science Fiction",Thane Tierney

In [19]:
#Q5)
#1)
import requests
from bs4 import BeautifulSoup 
import re
import pandas as pd


req=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup=BeautifulSoup(req.content)
player=soup.find_all('tr',class_={'ranking-block__banner','table-body'})

top10=player[0:10]
data={'Player_Name':[],'Team_Name':[],'Rating':[]}

for i in top10:
    bat=i.find_all('td',recursive=True)
    data['Player_Name'].append(bat[1].text.replace('\n',''))
    data['Team_Name'].append(bat[2].text.replace('\n',''))
    data['Rating'].append(bat[3].text.replace('\n',''))
    
M_All=pd.DataFrame(data,index=range(1,11))
M_All

        Player_Name Team_Name Rating
1       Virat Kohli       IND    844
2      Rohit Sharma       IND    813
3       Ross Taylor        NZ    801
4       Aaron Finch       AUS    779
5    Jonny Bairstow       ENG    775
6      David Warner       AUS    762
7         Shai Hope        WI    758
8   Kane Williamson        NZ    754
9   Quinton de Kock        SA    747
10     Fakhar Zaman       PAK    741

In [ ]:
#2)
req=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup=BeautifulSoup(req.content)
player=soup.find_all('tr',class_={'ranking-block__banner','table-body'})

top10=player[0:10]
data={'Player_Name':[],'Team_Name':[],'Rating':[]}

for i in top10:
    bowl=i.find_all('td',recursive=True)
    data['Player_Name'].append(bowl[1].text.replace('\n',''))
    data['Team_Name'].append(bowl[2].text.replace('\n',''))
    data['Rating'].append(bowl[3].text.replace('\n',''))
    
M_Bowl=pd.DataFrame(data,index=range(1,11))
M_Bowl

In [ ]:
#3)
req=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup=BeautifulSoup(req.content)
player=soup.find_all('tr',class_={'ranking-block__banner','table-body'})

top10=player[0:10]
data={'Player_Name':[],'Team_Name':[],'Rating':[]}

for i in top10:
    team=i.find_all('td',recursive=True)
    data['Player_Name'].append(team[1].text.replace('\n',''))
    data['Team_Name'].append(team[2].text.replace('\n',''))
    data['Rating'].append(team[3].text.replace('\n',''))
    
Team_All=pd.DataFrame(data,index=range(1,11))
Team_All

In [ ]:
#Q6)i)
req=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup=BeautifulSoup(req.content)
player=soup.find_all('tr',class_={'ranking-block__banner','table-body'})

top10=player[0:10]
data={'Player_Name':[],'Team_Name':[],'Rating':[]}

for i in top10:
    bat=i.find_all('td',recursive=True)
    data['Player_Name'].append(bat[1].text.replace('\n',''))
    data['Team_Name'].append(bat[2].text.replace('\n',''))
    data['Rating'].append(bat[3].text.replace('\n',''))
    
W_All=pd.DataFrame(data,index=range(1,11))
W_All

In [ ]:
#ii)
req=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup=BeautifulSoup(req.content)
player=soup.find_all('tr',class_={'ranking-block__banner','table-body'})

top10=player[0:10]
data={'Player_Name':[],'Team_Name':[],'Rating':[]}

for i in top10:
    bat=i.find_all('td',recursive=True)
    data['Player_Name'].append(bat[1].text.replace('\n',''))
    data['Team_Name'].append(bat[2].text.replace('\n',''))
    data['Rating'].append(bat[3].text.replace('\n',''))
    
W_All=pd.DataFrame(data,index=range(1,11))
W_All

In [ ]:
#iii)
req=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup=BeautifulSoup(req.content)
bowler=soup.find_all('tr',class_=('rankings-block__banner','table-body'))
Top10=bowler[0:10]
bdata={'Player_Name':[],'Team_Name': [], 'Rating':[]}
for i in Top10:
    bat=i.find_all('td',recursive=True)
    bdata['Player_Name'].append(bat[1].text.replace('\n',''))
    bdata['Team_Name'].append(bat[2].text.replace('\n',''))
    bdata['Rating'].append(bat[3].text.replace('\n',''))
ODIBOWL=pd.DataFrame(bdata,index=range(1,11))
ODIBOWL

In [ ]:
#Q7)
page=requests.get("https://www.amazon.in/s?k=smartphones+under+20000+rupees+only&crid=3QV1RABX4EPDF&sprefix=smartphones+under+20000+rupees%2Caps%2C369&ref=nb_sb_ss_ts-doa-p_3_30")
print(page) # to check the response output
soup=BeautifulSoup(page.content)

# extract mobile names
mob_name=soup.find_all("span", class_="a-size-medium a-color-base a-text-normal")
product_names=[]
for i in mob_name[:10]:
    product_names.append(i.text)

# extract mobile prices
mob_price=soup.find_all("span", class_="a-price-whole")
product_price=[]
for i in mob_price[:10]:
    product_price.append(i.text)

# extract image urls
images=soup.find_all("div", class_="a-section aok-relative s-image-fixed-height")
images_url=[]
for i in images[:10]:
    for j in i.find_all("img", class_="s-image"):
        images_url.append(j.get("src"))

# extract product ratings
avg_rating=soup.find_all("i", class_="a-icon a-icon-star-small a-star-small-4 aok-align-bottom")
ratings=[]
for i in avg_rating[:10]:
    ratings.append(i.text)

# checking the length of the columns
print(f"Length of product name, price, image url and ratings", len(product_names), 
      len(product_price), len(images_url), len(ratings))

# creating the dataframe
df=pd.DataFrame({})
df["Product Names"]=product_names
df["Product Prices"]=product_price
df["Image Urls"]=images_url
df["Average Rating"]=ratings
df

In [ ]:
#Q8
page=requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YP_Um45LhPY")
print(page) # to get the response output
soup=BeautifulSoup(page.content)

# get the period names
period=soup.find_all("p", class_="period-name")
period_names=[]
for i in period:
    period_names.append(i.text)

# get short description
short_desc=soup.find_all("p", class_="short-desc")
short_detail=[]
for i in short_desc:
    short_detail.append(i.text)

# get the temperature details
temp1=soup.find_all("p", class_="temp temp-low")
temp2=soup.find_all("p", class_="temp temp-high")
temperature=[]
for i in temp1:
    temperature.append(i.text)
for i in temp2:
    temperature.append(i.text)

# get the full description
long_desc=soup.find_all("div", class_="col-sm-10 forecast-text")
description=[]
for i in long_desc[:9]:
    description.append(i.text)

# checking the length of the columns
print(f"Length of period, short description, temperature and long description are:", len(period_names), 
      len(short_detail), len(temperature), len(description))

# creating the dataframe
df=pd.DataFrame({})
df['Period Names']=period_names
df['Short Detail']=short_detail
df['Temperature']=temperature
df['Description']=description
df

In [ ]:
#Q9)

page=requests.get("https://internshala.com/fresher-jobs")
print(page) # to get the response output
soup=BeautifulSoup(page.content)

# get the job titles
job_title=soup.find_all("div", class_="heading_4_5 profile")
title=[]
for i in job_title:
    title.append(i.text.replace("\n","").strip())

# get the company names
company_names=soup.find_all("div", class_="heading_6 company_name")
company=[]
for i in company_names:
    company.append(i.text.replace("\n","").strip())

# get the CTC details
CTC_list=soup.find_all("div", class_="item_body")
CTC=[]
for i in CTC_list:
    for j in i.find_all("i"):
        CTC.append(i.text.replace("\n","").strip())

# get the apply dates for jobs
applying=soup.find_all("div", class_="item_body")
apply_date=[]
for i in applying:
    apply_date.append(i.text)
dates=[]
for i in range(2, len(apply_date), 3):
    dates.append(apply_date[i])

# checking the length of the columns
print(f"Lengths of Job title, Company name, CTC and Apply date are:", len(title), len(company), len(CTC), len(dates))

# creating the dataframe
df=pd.DataFrame({})
df['Job Title']=title
df['Company Name']=company
df['CTC']=CTC
df['Apply Date']=dates
df

In [23]:
#Q10)
req=requests.get('https://www.nobroker.in/property/sale/bangalore/Whitefield?searchParam=W3sibGF0IjoxMi45Njk4MTk2LCJsb24iOjc3Ljc0OTk3MjEsInBsYWNlSWQiOiJDaElKZ193TlhmTVJyanNSLVJVQjJCS2x6ekEiLCJwbGFjZU5hbWUiOiJXaGl0ZWZpZWxkIn1d&radius=2.0&type=BHK2')
soup=BeautifulSoup(req.content)

nam=soup.find_all('h2',class_='heading-6 font-semi-bold nb__1AShY')
name=[]
for i in nam:
    q=i.find('span').text
    name.append(q)

l_c=soup.find_all('div',class_='nb__35Ol7')
addr=[]
for l in l_c:
    y=l.text.replace('Explore Nearby','')
    addr.append(y)

em=soup.find_all('div',class_='nb__17R6o')
epi=[]
ar=[]
for y in em:
    r=y.find('div',class_="font-semi-bold heading-6",id="roomType").text.replace('/Month','')
    epi.append(r)
    v=y.find('div',class_='font-semi-bold heading-6',recursive=True).text
    ar.append(v)


er=soup.find_all('div',class_='nb__2NPHR',id='minDeposit',itemprop='valueReference',itemtype=True)
C=[]
for n in er:
    c=n.span.text
    C.append(c)

House=pd.DataFrame({},index=range(1,11))
House['House_Title']=name
House['Address']=addr
House['EMI']=epi
House['Area']=ar
House['Price']=C